@use "global" as c;
.input__buscar {
  border: 1px solid c.$grisc;
  background-color: c.$grisc;
  border-radius: 5px;
  position: relative;
  input[type="text"] {
    padding: 1rem;
    border: none;
    margin-left: 3rem;
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: transparent;
  }
  .lupa {
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translate(10%, -50%);
    background-size: 4rem;
    color: c.$grism;
  }
  &:focus-within {
    outline: 1px solid red;
    box-shadow: 0 0 5px 1px c.$naranja;
  }
}
