//colores
$griso: #3d3d3d;
$grism: #6f6f6f;
$grisc: #e1e1e1;
$naranja: #da552f;
$indigo: rgb(92, 17, 212);
// Mixins

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

//global
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3 {
  margin: 0 0 2rem 0;
  line-height: 1.5;
}
h1,
h2 {
  font-family: "Roboto", serif;
  font-weight: 700;
}

h3 {
  font-family: "PT Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.flex--center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.page__title {
  text-align: center;
  font-size: 2rem;
  color: $grism;
  margin-top: 6rem;
}
