@use "global" as c;

.producto__individual--header {
  img {
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  }
}
.producto__individual--body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.producto__individual--acciones {
  display: flex;
  gap: 2rem;
}

.producto__comentarios {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  li.comment {
    display: block;
    padding: 1rem 3rem;
    border: 1px solid c.$grisc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1);

    .comment__user,
    .comment__date {
      text-decoration: underline;
      color: c.$grism;
      font-size: 1.2rem;
    }
    .comment__date {
      text-decoration: none;
    }
  }

  li.creator {
    border-color: c.$naranja !important;
  }
}

.producto {
  h4,
  p {
    margin: 0;
    padding: 0;
    line-height: 1.7;
  }
  position: relative;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  max-height: 75px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
  &::before {
    opacity: 0;
    border-radius: 5px;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(
      14deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(218, 85, 47, 0.5212602459016393) 100%
    );
    z-index: 0;
    transition: opacity 0.5s ease;
  }
  &:hover::before {
    opacity: 1;
  }

  img {
    border-radius: 5px;
    object-fit: cover;
  }
}
.producto__div {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.producto__div--descripcion {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}
.producto__div--info {
  z-index: 20;
  flex: 1;
}
.producto__div--social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.producto__date {
  color: c.$grism;
  z-index: 20;
}

.producto__coments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  & svg {
    width: 17px;
  }
}

.producto__votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  padding: 1rem;
  border: 1px solid c.$grisc;
  border-radius: 5px;
  margin: 0 1rem;
  height: 100%;

  &:hover {
    outline: 1px solid c.$naranja;
  }
}
.producto__btn {
  background-color: c.$grisc;
  padding: 2rem 3rem;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0rem;
  cursor: pointer;
  z-index: 20;
  &.visit {
    border: 1px solid c.$grisc;
    background-color: white;
    transition: border 0.2s ease;
    &:hover {
      border-color: c.$naranja;
    }
  }
  &.vote__btn {
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background: linear-gradient(
        14deg,
        rgb(184, 91, 4),
        rgba(255, 255, 255, 0.1) 50%,
        rgba(81, 5, 168, 0.3)
      );
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:hover::after {
      opacity: 1;
    }
    position: relative;
    background-color: c.$naranja;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 20;
    div {
      display: flex;
      align-items: center;
      gap: 1rem;
      z-index: 10;
    }
  }
}
